[
    {lager, [
        {handlers, [
            {lager_console_backend, [{level, none}]}
        ]}
    ]},
    {pgapp, [
        {pools, [
            {epgsql_pool, [
                {size, 5},
                {max_overflow, 10}
            ],
                [
                    {host, "db"},
                    {database, "postgres"},
                    {username, "postgres"},
                    {password, "example"}
                ]
            }
        ]}
    ]},
    {wta, [
        {port, 8080}
    ]}
].
